nav {
    background-color: var(--color-secondary);
    border-bottom: var(--border-white);
}

header {
    background-image: url(../img/background1.png);
    background-size: cover;
    background-position: center;
}

// .key-values {

// }

.pb {
    background-color: #e5f0ff;
    background-image: url(../img/icon4.png);
    background-repeat: no-repeat;
    background-position: center;

}

.cd {
    background-color: #ccffff;
    background-image: url(../img/icon5.png);
    background-repeat: no-repeat;
    background-position: center;

}

footer {
    background-color: var(--color-secondary);
}